body {
    width: 1900px;
    height: 1000px;
    background-color: #DCDCDC;
}

.rezumeWrapper {
    width: 682px;
    height: 883px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.leftWrapper {
    width: 251px;
    background-color: rgb(22, 56, 83);
    position: relative;
}

.rightWrapper {
    width: 431px;
    background-color: white;
    position: relative;
}

.imgWrapper {
    width: 136px;
    height: 136px;
    margin-left: 77px;
    margin-top: 36px;
    border-radius: 50%;
    background-color: white;
}

.imgVasilij {
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 4px;
}

.nameFirst {
    width: 174px;
    height: 43px;
    font-family: Arial Narrow, sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    color: rgb(84, 84, 84);
    font-kerning: none;
    text-decoration: none;
    position: absolute;
    left: 46px;
    top: 55px;
}

.nameLast {
    width: 180px;
    height: 43px;
    font-family: Arial Narrow, sans-serif;
    font-size: 40px;
    font-weight: 100;
    font-style: normal;
    color: rgb(84, 84, 84);
    font-kerning: none;
    text-decoration: none;
    position: absolute;
    left: 195px;
    top: 55px;  
}

.profession {
    width: 200px;
    height: 20px;
    font-family: Arial Narrow, sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    color: rgb(84, 84, 84);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    left: 46px;
    top: 105px;  
}

.nameLine {
    width: 51px;
    position: absolute;
    border: 2px solid rgb(84, 84, 84);
    left: 46px;
    top: 132px;
}





.contact {
    position: absolute;
    top: 200px;
    left: 74px;
}

.nameContact {
    width: 130px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.contactLine {
    width: 149px;
    border: 1px solid white;
    margin-top: 10px;
}

.contactPhone {
    height: 13px;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.iconPhone {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.imgPhone {
    width: 13px;
    height: 13px;
}

.numberPhone {
    color: white;
    font-size: 12px;
}

.contactTelegram {
    height: 13px;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px; 
}

.iconTelegram {
    margin-right: 5px;
}

.imgTelegram {
    width: 15px;
    height: 15px;
}

.letterTelegram {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.contactEmail {
    height: 13px;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px; 
}

.iconEmail {
    margin-right: 5px; 
}

.imgEmail {
    width: 15px;
    height: 15px; 
}

.letterEmail {
    color: white;
    font-size: 12px; 
}

.letterEmailLink {
    text-decoration: none;
    color: white;
}






.education {
    position: absolute;
    top: 350px;
    left: 74px;
}

.nameEducation {
    width: 130px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.educationLine {
    width: 149px;
    border: 1px solid white;
    margin-top: 10px;
}

.trainingTime {
    height: 13px;
    color: white;
    font-size: 13px;
    margin-top: 13px;
}

.nameUniversity {
    height: 13px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    margin-top: 6px;
}

.nameProfession {
    height: 13px;
    font-size: 11px;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.diploma {
    width: 65px;
    height: 12px;
    border-radius: 10px;
    background-color: white;
}

.textWrapper {
    width: 50px;
    height: 12px;
    margin: auto;
}

.textDiploma {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}






.programms {
    position: absolute;
    top: 495px;
    left: 74px;
}

.nameProgramms {
    width: 130px;
    height: 40px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.programmsLine {
    width: 149px;
    border: 1px solid white;
    margin-top: 10px;
}

.programmsText {
    height: 13px;
    font-size: 12px;
    color: white;
    margin-top: 10px;
    padding-left: 10px;
}







.language {
    position: absolute;
    top: 620px;
    left: 74px;
}

.nameLanguage {
    width: 130px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.languageLine {
    width: 149px;
    border: 1px solid white;
    margin-top: 10px;
}

.languageText {
    height: 13px;
    font-size: 12px;
    color: white;
    margin-top: 10px;
    padding-left: 10px;
}







.portfolio {
    position: absolute;
    top: 710px;
    left: 74px;
}

.namePortfolio {
    width: 130px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.portfolioLine {
    width: 149px;
    border: 1px solid white;
    margin-top: 10px;
}


.portfolioText {
    width: 25px;
    height: 25px;
}

.portfolioLink {
    text-decoration: none;
    color: white;
}





.myself {
    position: absolute;
    top: 200px;
    left: 22px;
}

.nameMyself {
    width: 230px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(22, 56, 83);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
}

.myselfLine {
    width: 365px;
    border: 1px solid rgb(22, 56, 83);
    margin-top: 10px;
}

.myselfText {
    display: flex;
    justify-content: center;
    width: 365px;
    height: 80px;
    font-size: 12px;
}

p {
    text-align: center;
}










/*.workExperience {
    position: absolute;
    top: 495px;
    left: 22px;
}

.nameWorkExperience {
    width: 230px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(22, 56, 83);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
}

.workExperienceLine {
    width: 365px;
    border: 1px solid rgb(22, 56, 83);
    margin-top: 10px;
}






.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.verticalLine {
    position: relative;
    height: 100px;
    border: 1px solid rgb(22, 56, 83);
    margin-left: 2px;
}

.point {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -3px;
    top: -2px;
    background-color: rgb(22, 56, 83);
}

.cardsWrapper {
    width: 363px;
    height: 100px;
}

.universityDate {
    width: 348px;
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    margin-left: 15px;
}

.university {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.text {
    width: inherit;
    font-size: 12px;
}

.workList {
    margin-top: 0px;
}*/





.skills {
    width: 365px;
    position: absolute;
    top: 330px;
    left: 22px;
}

.nameSkills {
    width: 230px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(22, 56, 83);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
}

.skillsLine {
    width: 365px;
    border: 1px solid rgb(22, 56, 83);
    margin-top: 10px;
}


.skillsList {
    font-size: 12px;
    padding-left: 15px;
}






.workExperience {
    position: absolute;
    top: 578px;
    left: 22px;
}

.nameWorkExperience {
    width: 230px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(22, 56, 83);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
}

.workExperienceLine {
    width: 365px;
    border: 1px solid rgb(22, 56, 83);
    margin-top: 10px;
}






.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.verticalLine {
    position: relative;
    height: 100px;
    border: 1px solid rgb(22, 56, 83);
    margin-left: 2px;
}

.point {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -3px;
    top: -2px;
    background-color: rgb(22, 56, 83);
}

.cardsWrapper {
    width: 363px;
    height: 100px;
}

.universityDate {
    width: 348px;
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    margin-left: 15px;
}

.university {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.text {
    width: inherit;
    font-size: 12px;
}

.workList {
    margin-top: 0px;
}







.qualities {
    width: 365px;
    position: absolute;
    top: 745px;
    left: 22px;
}

.nameQualities {
    width: 230px;
    height: 17px;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: rgb(22, 56, 83);
    font-kerning: none;
    text-decoration: none;
    text-transform: uppercase;
}

.qualitiesLine {
    width: 365px;
    border: 1px solid rgb(22, 56, 83);
    margin-top: 10px;
}

.qualitiesText {
    font-size: 12px;
    color: rgb(22, 56, 83);
    margin-top: 10px;
    padding-left: 15px;
}
